<body>
    <div class="container">
        <div class="card">
            <div class="card__text">
                <div class="card__img">
                    <img src="https://static-00.iconduck.com/assets.00/profile-circle-icon-512x512-zxne30hp.png" alt="">
                </div>
                <div class="card__detail">
                    <h1 class="card__header">Name</h1>
                    <h2 class="card__header">Employee ID</h2>
                    <h2 class="card__header">Role</h2>
                    <h2 class="card__header">Phone No.</h2>
                    <h2 class="card__header">Email-ID</h2>
                </div>
            </div>
        </div>
    </div>
</body>