    <!-- <div class="body">
      <div class="wrapper">
          <div class="form-wrapper sign-in">
            
            <form 
            [formGroup]="loginForm" 
            (ngSubmit)="onSubmit()"
            autocomplete="off"
            action="registration_endpoint"
            method="POST"
            >
              <h2>Login</h2>
              <div class="input-group">
                <input 
                type="text"
                placeholder="Username"
                formControlName="username" 
                [(ngModel)]="username"
                >
                
              </div>
              <div class="input-group">
                <input 
                name="password"
                type="password"
                formControlName="password"
                required
                placeholder="Password"
                [(ngModel)]="password"
              
                >
               
              </div>
              
              <button type="submit"
              (click)="showAlert()"
              [disabled]="loginForm.invalid"
              >Login</button>
              <div class="signUp-link">
                <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
              </div>
            </form>
          </div>
        </div>
      </div> -->

      <div class="body">
        <div class="wrapper">
          <div class="form-wrapper sign-in">
            <form 
              [formGroup]="loginForm" 
              (ngSubmit)="onSubmit()"
              autocomplete="off"
              action="registration_endpoint"
              method="POST"
            >
              <h2>Login</h2>
              <div class="input-group">
                <input 
                  type="text"
                  placeholder="Username"
                  formControlName="username" 
                  [(ngModel)]="username"
                  required
                >
                <!-- <label for="">Email</label> -->
              </div>
              <div 
                *ngIf="
                  loginForm.get('username')?.invalid &&
                  (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
                "
                class="error-message"
              >
                <div *ngIf="loginForm.get('username')?.errors?.['required']">
                  User name is required
                </div>
              </div>
              <div class="input-group">
                <input 
                  name="password"
                  type="password"
                  formControlName="password"
                  required
                  placeholder="Password"
                  [(ngModel)]="password"
                >
                <!-- <label for="">Password</label> -->
              </div>
              <div 
                *ngIf="
                  loginForm.get('password')?.invalid &&
                  (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                "
                class="error-message"
              >
                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required
                </div>
              </div>
              <!-- <div class="remember">
                <label><input type="checkbox"> Remember me</label>
              </div> -->
              <button 
                type="submit"
                (click)="showAlert()"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
              <div class="signUp-link">
                <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
