<div class="home">
    <!-- Image section -->
    <div class="image">
        <!-- Image for visual representation -->
        <img src="assets/undraw_coffee_break_h3uu.svg" alt="">
    </div>
    <!-- Content section -->
    <div class="content">
        <!-- Welcome message and brief description -->
        Welcome to muditRounds, a product through which plants can easily manage and maintain their assets, resulting in effectiveness, cost savings, and long-term operation of assets. Plant administrators can easily manage operators and technicians and digitize issue ticket management.
    </div>
</div>
