<div class="home">
    <!-- Image section -->
    <div class="image">
        <!-- Image for visual representation -->
        <img src="assets/undraw_coffee_break_h3uu.svg" alt="">
    </div>
    <!-- Content section -->
    <div class="content">
        <!-- Welcome message and brief description -->
        Welcome to assetCare, a revolutionary product designed to empower plants in efficiently managing and maintaining their assets. With assetCare, plants can seamlessly oversee their assets, leading to enhanced effectiveness, significant cost savings, and prolonged operational lifespan of assets.

        Plant administrators are equipped with user-friendly tools to effortlessly manage operators and technicians, streamlining communication and coordination. Moreover, assetCare facilitates the digitization of issue ticket management, simplifying the process and ensuring prompt resolution of issues.
        
        Unlock the full potential of your plant's assets with assetCare - the ultimate solution for streamlined asset management.
    </div>
</div>
