<div>
  <!-- Heading for issues history -->
  <h2>Issues History</h2>
  
  <!-- Container for the table -->
  <div class="tableone">
      <table>
          <thead>
              <!-- Table header row -->
              <tr>
                  <!-- Column headers -->
                  <th>Issue</th>
                  <th>Created At</th>  
                  <th>Asset Name</th>
                  <th>Issue Status</th>
              </tr>
          </thead>
          <tbody>
                <!-- Check if assignedIssues array is empty -->
                        <tr *ngIf="historys.length === 0">
                        <td colspan="5" class="no-data">No issues has been raised by you.</td>
                </tr>
              <!-- Loop through issue history and display each one -->
              <tr *ngFor="let history of historys">
                  <!-- Displaying issue details in each column -->
                  <td>{{ history.description}}</td>
                  <td>{{ history.formattedTimestamp }}</td>
                  <td>{{ history.asset_name }}</td>
                  <td>{{ history.status }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
