<div>
  <!-- Heading for assigned issues -->
  <h2>Assigned Issues:-</h2>
  <!-- Table to display assigned issues -->
  <table>
      <thead>
          <!-- Table header row -->
          <tr>
              <!-- Column headers -->
              <th>Issue ID</th>  
              <!-- <th>Asset ID</th> -->
              <th>Issue Status</th>
              <th>Asset Name</th>
              <th>Issue Description</th>
              <th>Change Status</th>
          </tr>
      </thead>
      <tbody>
                  <!-- Check if assignedIssues array is empty -->
                  <tr *ngIf="assignedIssues.length === 0">
                    <td colspan="5" class="no-data">Currently, no issues has been assigned to you.</td>
                </tr>
          <!-- Loop through assigned issues and display each one -->
          <tr *ngFor="let assignedIssue of assignedIssues">
              <!-- Displaying issue details in each column -->
              <td>{{ assignedIssue._id }}</td>  
              <!-- <td>{{ assignedIssue.user_id }}</td> -->
              <td>{{ assignedIssue.status }}</td>
              <td>{{ assignedIssue.asset_name }}</td>
              <td>{{ assignedIssue.description }}</td>
              <!-- Button to change status of the issue -->
              <td>
                  <button (click)="changeStatus(assignedIssue._id)">ISUUE FIXED</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
