
table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 2.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th, td {
  border: 3px solid #023535;
  text-align: left;
  padding: 8px;
}

th {
  color: aliceblue;
  background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

h2, h3 {
  margin-left: 2.5%;
  color: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
}

.tableone {
  margin-bottom: 45px;
  padding-top: 2%;
  width: 50%;
  margin-left: 25%;
}
.headi{
  display: flex;
}
select{
  margin-left:78%;
  text-align: center;
  height: 30PX;
  margin-top: 2%;
  margin-bottom: 10px;
}
select:hover {
  background-color: #f0f0f0; 
}

button {
  background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
}
td ,th {
  text-align: center;
}
button:hover {
  background: linear-gradient(to right, #009688, #4CAF50);
}

.hide {
  display: none;
}

.cards-data {
  margin-top: 25px;
  display: flex;
  gap: 40px;
  justify-content: center; 
  align-items: center;
}

hr {
  border: none; 
  height: 2px; 
  background-color: #ccc; 
  margin: 20px 0; 
}

.card {
  background-color: lightblue;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100px;
  padding: 20px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px; 
}

.value {
  font-size: 30px;
  font-weight: bold;
}

.dropdown-toggle button {
  margin-left: 42%;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.no-data {
  color: red;
}
.assign-column {
  width: 250px; 
}

.assign-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right:80%;
}
.select-box {
  margin-right: 1px;
}


/* Media Queries */
@media only screen and (max-width: 768px) {
  table {
      width: 100%;
  }
  
  .cards-data {
      flex-direction: column;
      align-items: center;
  }
  
  .card {
      width: 80%; 
      margin-bottom: 20px;
  }

  .dropdown-toggle button {
      margin-left: 2%;
      margin-top: 10px;
  }
}
