table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
   th, td {
    border: 3px solid #023535;
    text-align: left;
    padding: 8px;
  }

  th{
    color: aliceblue;
    background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  }
  
  /* th {
    background-color: #aceceb;
  } */
   h2, h3{
    margin-left: 2.5%;
    color: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  }

  .tableone{
    margin-bottom: 45px;
  }

  button{
    background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
  }
  button:hover{
    background: linear-gradient(to right, #009688, #4CAF50);
  }
  .hide {
    display: none;
  }