<body>
    <!-- Main container -->
    <div class="container">
        <!-- Card container -->
        <div class="card">
            <!-- Card text section -->
            <div class="card__text">
                <!-- Card image section -->
                <div class="card__img">
                    <!-- Profile image -->
                    <img src="https://static-00.iconduck.com/assets.00/profile-circle-icon-512x512-zxne30hp.png" alt="Profile Image">
                </div>
                <!-- Card detail section -->
                <div class="card__detail">
                    <!-- Employee details -->
                    <h1 class="card__header">Name</h1>
                    <h2 class="card__header">Employee ID</h2>
                    <h2 class="card__header">Role</h2>
                    <h2 class="card__header">Phone No.</h2>
                    <h2 class="card__header">Email-ID</h2>
                </div>
            </div>
        </div>
    </div>
</body>
