<body>
    <div class="container" *ngIf="user">
        <div class="btn">
            <button id="button1" (click)="onOpenedIssueClick()">Opened Issue</button>
            <button id="button2" (click)="onClosedIssueClick()">Closed Issue</button>
        </div>
        <div class="card">
            <div class="card__text">
                <div class="card__img">
                    <img src="https://static-00.iconduck.com/assets.00/profile-circle-icon-512x512-zxne30hp.png" alt="">
                </div>
                <div class="card__detail">
                    <h1 class="card__header">Name:- {{ user.username }}</h1>
                    <h2 class="card__header">Email-ID:- {{ user.email }}</h2>
                    <h2 class="card__header">Role:- {{ user.role }}</h2>
                    <h2 class="card__header">Contact No:- {{ user.phoneno }}</h2>
                </div>
            </div>
        </div>
    </div>
</body>