label.logo{
  color: #023535;
  font-size: 25px;
  /* line-height: 80px; */
  /* padding: 0 100px; */
  /* font-weight: 4005px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a7e2e2;
  padding: 10px 20px;
}
.login-button, .signup-button {
  margin-left: 5px;
}
.login-button button, .signup-button button, .logout-button button{
  background-color: #008F8C;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.login-button button:hover, .signup-button button:hover, .logout-button:hover {
  background-color: #015958;
}
.login-signup-container, .logged-in-menu {
  display: flex;
  align-items: center;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .login-signup-container, .logged-in-menu {
    justify-content: center;
    margin-top: 10px;
  }
}

/* Media query for screens smaller than 444px */
@media only screen and (max-width: 444px) {
  .navbar {
    flex-direction: column;
    /* padding: 5px 10px; Reduce padding */
  }
  .login-signup-container, .logged-in-menu {
    justify-content: center;
    margin-top: 5px; /* Reduce margin */
    flex-direction: column; /* Stack buttons vertically */
  }
  .login-button, .signup-button, .logout-button {
    margin-bottom: 5px; /* Add space between stacked buttons */
  }
  .login-button button, .signup-button button, .logout-button button {
    padding: 5px 10px; /* Reduce button padding */
  }
}