<header class="navbar">
  <!-- Logo section -->
  <a (click)="onLogoClick()"><label class="logo">mRounds</label></a>
  
  <!-- Default menu items -->
  <div *ngIf="menuType === 'default'" class="login-signup-container">
    <!-- Login button -->
    <div class="login-button">
      <button (click)="onLoginClick()" style="color: white;">Login</button>
    </div>
    <!-- Sign up button -->
    <div class="signup-button">
      <button (click)="onSignupClick()" style="color: white;">Sign up</button>
    </div>
  </div>
  
  <!-- Verified menu items -->
  <div *ngIf="menuType === 'verified'" class="logged-in-menu">
    <!-- Logout button -->
    <div class="logout-button">
      <button (click)="logout()" style="color: white;">Logout</button>
    </div>
    <!-- Back Button -->
    <div class="back-button">
      <button (click)="goBack()" style="color: white;">Back</button>
    </div>
  </div>
</header>
