label.logo{
  color: #023535;
  font-size: 25px;
  /* line-height: 80px; */
  /* padding: 0 100px; */
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0FC2C0;
  padding: 10px 20px;
}
.login-button, .signup-button {
  margin-left: 5px;
}
.login-button button, .signup-button button, .logout-button button{
  background-color: #008F8C;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.login-button button:hover, .signup-button button:hover, .logout-button:hover {
  background-color: #015958;
}
.login-signup-container, .logged-in-menu {
  display: flex;
  align-items: center;
}