label.logo{
  color: #023535;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
  /* line-height: 80px; */
  /* padding: 0 100px; */
  /* font-weight: 4005px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(107deg, rgb(2, 108, 223) 27.4%, rgb(0, 255, 255) 92.7%);;
  padding: 10px 20px;
}
.login-button, .signup-button, .back-button, .analyze-button, .logout-button{
  margin-left: 5px;
}
.login-button button, .signup-button button, .logout-button button, .back-button button, .analyze-button button{
  background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.login-button button:hover, .signup-button button:hover, .logout-button button:hover, .back-button button:hover, .analyze-button button:hover {
  background: linear-gradient(to right, #009688, #4CAF50);
}
.login-signup-container, .logged-in-menu {
  display: flex;
  align-items: center;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .login-signup-container, .logged-in-menu {
    justify-content: center;
    margin-top: 10px;
  }
}

/* Media query for screens smaller than 444px */
@media only screen and (max-width: 444px) {
  .navbar {
    flex-direction: column;
    /* padding: 5px 10px; Reduce padding */
  }
  .login-signup-container, .logged-in-menu {
    justify-content: center;
    margin-top: 5px; /* Reduce margin */
    flex-direction: column; /* Stack buttons vertically */
  }
  .login-button, .signup-button, .logout-button {
    margin-bottom: 5px; /* Add space between stacked buttons */
  }
  .login-button button, .signup-button button, .logout-button button {
    padding: 5px 10px; /* Reduce button padding */
  }
}