table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
  }

  .ok h2{
    margin-left: 2.5%;
  }
  
   th, td {
    border: 1px solid #023535;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #aceceb;
  }

  h2{
    justify-content: center;
  }

  .tableone{
    margin-bottom: 45px;
  }
  