table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .ok h2{
    margin-left: 2.5%;
  }
  
   th, td {
    border: 3px solid #023535;
    text-align: left;
    padding: 8px;
  }
  
  th {
    color: aliceblue;
    background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  }

  h2{
    justify-content: center;
  }

  .tableone{
    margin-bottom: 45px;
  }
  